:root{
    background-color: cornsilk;
}
#result{
    margin-top: 25px;
}

.text, .color, .select, .button{
margin-bottom: 10px;
}

#nadpis{
    text-align: center;
}

.label{
    font-size: 1.3rem;
}