ul, ol{
    font-size: 2rem;
}

ul{
    text-align: center;
    list-style-type: decimal;
    list-style-position: inside;
    /*
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    */
    list-style-image: url(asteroid.png);
}

ol{
    list-style-type: disc;
}

li{
    display: inline-block;
    width: 30%;
}

li:nth-child(even){ /* odd nebo even nebo cislemi*/
    color: crimson;
    background-color: aqua;
}
li:hover{
    background-color: yellow;
}

a{
    display: block;
    width: 200px;
    height: 100px;
    text-decoration: overline;
    font-size: 3rem;
}


a:visited{
    color: turquoise;
}


a:hover{
    color: fuchsia;
}

a:active{
    color: rgb(89, 89, 184);
}


