:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
body{
    background-color: aquamarine;
}

.hlavicka{
    background-color:  rgb(207, 204, 34);
}
.telo{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.hlavicka nav{
    font-size: 2em
}

section{
margin-top: 60px;
margin-bottom: 60px;
}

h1, h2{
   text-align: center;
}

p{
    max-width: 600px;
    text-align: justify;
}
#o-nas{
    font-size: 1.25rem;
}

.pata p{
    display: inline;
}

.pata{
    text-align: center;
    background-color: rgb(238, 15, 15);
}


