div{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 15px;
    position: relative;
    background-color: blue;
    left: 250px;
    top: 100px;
    transition: width 3s, height 3s, background-color 3s, transform 3s;
    transition-timing-function: cubic-bezier(.99,1.45,.63,-0.81) ;
}


div:hover{
    width: 200px;
    height: 200px;
    background-color: red;
    transform: rotate(360deg);
}