table {
     width: 100%; border-collapse: collapse;
     }
th, td {
     border: 2px solid black; padding: 10px; text-align: left; 
    }
th { 
    background-color: whitesmoke;
 }
 table, th, td, th {
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 h1,h2{
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .lb{
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .btn{
     font-family: Georgia, 'Times New Roman', Times, serif;
 }