section{
    margin-left: 100px;
    font-size: 2rem;
}
h1{
    font-size: 1.5rem;
    text-align: center;
}
 
h2{
    text-align: center;
    font-size: 2.5;
}
 
nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #333;
    font-size: 1.25rem;
}
 
nav a{
    
    padding: 1rem;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 1.2rem;
   
}
 
 
@media screen and (min-width: 500px) {
    h1{
        font-size: 2rem;
    }
}
 
@media (width > 1000px) and (width < 1500px) {
    h1{
        font-size: 5rem;
    }
    nav{
        display: flex;
        flex-direction: row;
        align-content: space-evenly;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #333;
        font-size: 1.35rem;
        height: fit-content;
        width: 100%;
 
    }
}
@media print {
    a, p, h1{
        background-color: black;
        color: black;
    }
}
 