.container{
    font-size: 3rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.container div{
    background-color: coral;
    border-radius: 15px;
    text-align: center;
    margin: 3px;
    border: 1px solid black;
}

.container div:nth-child(2){
    grid-row: span 2;
}

.container div:nth-child(7){
    grid-row: span 3;
}

.container div:nth-child(9){
    grid-column: span 2;
}
