/*
.container{
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
*/

.container{
    font-size: 3rem;
    display: grid;
    grid-template-columns: repeat(4, auto);      /*1fr 2fr 3fr; */
    grid-gap: 15px;           
}

.container div{
    background-color: aquamarine;
    border-radius: 15px;
    text-align: center;
    margin: 15px;
}

.container div:nth-child(1){
    background-color: yellowgreen;
    /*
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    */
    grid-column: 2 / span 2;
}
