div{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 15px;
    position: relative;
    left: 250px;
    top: 100px;
    animation-name: animacePozice;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
    animation-timing-function: cubic-bezier(.99,1.45,.63,-0.81);
    
}



@keyframes animacePozice {
    0% {left: 0px; top: 0px; background-color: green;}
    50%{left: 500px; top: 700px;}
    75%{left: 900px; top: 500px;}
    100% {left: 250px; top: 100px; background-color: fuchsia;}
}