*{
    border: 7px solid black;
}

:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(5, 99, 91, 0.692);
}
body {
    border: 7px solid black;
    background-color: rgba(0, 255, 255, 0.384);
}
        h1{
            color: rgb(132, 0, 255);
            font-family: 'Lucida Sans';
            
        }

        .modry{
            color: violet; 
        
        }
        .modry{
            color: rgb(30, 255, 0) !important;
        }
        .sedy{
            color:tomato;
        }
        .paragraf p{
            font-size: large;
        }
        h1, h2, h3 {
            font-family:'Lucida Sans';
        }