.container {
    height: 3000px;
    width: 3000px;
    margin-left: 100px;
    background-color: beige;
    position: relative;
}

div {
    width: 200px;
    text-align: center;
    border-radius: 15px;
    font-size: 2rem;
    padding-top: 87px;
    padding-bottom: 87px;
}

#static {
    position: static;
    left: 100px;
    top: 100px;
    background-color: blue;
    color: white;
}

#relative {
    left: 100px;
    top: 100px;
    position: relative;
    background-color: red;
    color: white;
}

#fixed {
    position: fixed;
    left: 1000px;
    top: 10px;
    background-color: green;
    color: black;
}

#absolute {
    position: absolute;
    left: 1000px;
    top: 10px;
    background-color: yellow;
    color: black;
}

#sticky {
    position: sticky;
    left: 10px;
    top: 100px;
    background-color: purple;
    color: white;
}