:root{
    font-family: Arial;
}
 
body{
    text-align: center;
}
section{
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    max-width: 600px;
    text-align: justify;
}
.hlavicka{
    background-color: gray;
}
.hlavicka nav{
    font-size: 2em;
}
.telo{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.pata{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;    
    width: 100%;
    text-align: center;
    background-color: rgb(85, 79, 79);
 
}
.pata p{
    margin: 0;
   
}
#o-nas{
    font-size: 1.5rem;
}
h1, h2{
    text-align: center;
}