@property --main-color{
    syntax: "<color>";
    inherits: true;
    initial-value: blue;
}

@property --secondary-color{
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --background-color{
    syntax: "<color>";
    inherits: true;
    initial-value: gray;
}

:root{
    background-color: var(--background-color)
}

nav{
    background-color: var(--main-color);
    font-size: 1.15rem;
    text-align: center;
}

a{
    color: var(--secondary-color);
    margin: 20px;
}

a:hover{
    color: cyan;
    font-size: 1.5rem;
    transition: 0.5s;
}


.blok{
    display: block;
    text-align: left;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    margin: auto;
    margin-block: 20px;
    padding-left: 10px;
    width: 30%;
    background-color: var(--secondary-color);
}

.blok:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

h1{
    text-align: center;
    font-size: 2rem;
    color: var(--main-color);
}

.button{
    display: block;
    margin: auto;
    border: 2.2px solid var(--main-color);
    border-radius: 6px;
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
    padding: 10px;
}

.button:active{
    animation: buttonAn 3s infinite forwards;
}

@keyframes buttonAn {
    0%{background-color: var(--secondary-color); transform: scale(1);}
    50%{background-color: cyan; transform: scale(1.25);}
    100%{background-color: var(--secondary-color); transform: scale(1);}
}

@media screen and (width < 600px) {
    nav{
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: var(--main-color);
        font-size: 1rem;
        width: 25%;
    }
    .blok{
        width: 40%;
    }
    a:hover{
        font-size: 1.2rem;
    }
}