:root{
    font-size: 1.5em;
    background-color: blueviolet;
}

body{
    font-size: 2rem;
}
div{
    font-size: 2rem;
    background-color: rgb(131, 66, 79);
}
h1{
    padding: 20px 50px   30px ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 7px solid red;
    font-size: 2rem;
}