:root{
    font-size: 1.5em;
    background-color: blueviolet;
}

body{
    font-size: 2rem;
}
div{
    width: 50%;
    font-size: 2rem;
}
h1{
    width: fit-content;
    background-color: cornflowerblue;
    font-size: 7vw;
}